#
#
#
.idea
*.iml
/domibus-connector-plugin/domibus-connector-plugin-Distribution/.classpath
/domibus-connector-plugin/domibus-connector-plugin-Distribution/.gitignore
/domibus-connector-plugin/domibus-connector-plugin-Distribution/.project
/domibus-connector-plugin/domibus-connector-plugin-Distribution/.settings/org.eclipse.core.resources.prefs
/domibus-connector-plugin/domibus-connector-plugin-Distribution/.settings/org.eclipse.jdt.core.prefs
/domibus-connector-plugin/domibus-connector-plugin-Distribution/.settings/org.eclipse.m2e.core.prefs
/domibus-connector-plugin/domibus-connector-plugin-domibus_3_x/.classpath
/domibus-connector-plugin/domibus-connector-plugin-domibus_3_x/.project
/domibus-connector-plugin/domibus-connector-plugin-domibus_3_x/.settings/org.eclipse.core.resources.prefs
/domibus-connector-plugin/domibus-connector-plugin-domibus_3_x/.settings/org.eclipse.jdt.core.prefs
/domibus-connector-plugin/domibus-connector-plugin-domibus_3_x/.settings/org.eclipse.m2e.core.prefs
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_0/.classpath
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_0/.project
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_0/.settings/org.eclipse.core.resources.prefs
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_0/.settings/org.eclipse.jdt.core.prefs
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_0/.settings/org.eclipse.m2e.core.prefs
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_1/.settings
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_1/.classpath
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_1/.project
/domibus-connector-plugin/domibus-connector-plugin-Distribution/target
/domibus-connector-plugin/domibus-connector-plugin-Distribution/.settings
/domibus-connector-plugin/domibus-connector-plugin-Distribution/pom.xml.versionsBackup
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_0/pom.xml.versionsBackup
/domibus-connector-plugin/domibus-connector-plugin-domibus_4_1/pom.xml.versionsBackup
/domibus-connector-plugin/pom.xml.versionsBackup
